* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 1000px;
  color: white;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #7fff00;
  --bg1: #6a5acd;
  --bg2: #110b34;
  --h1-font: 2.2rem;
  --h2-font: 1.3rem;
  --h4-font: 1.1rem;
  --p-font: 1.1rem;
  --shadow: 3px 3px 1px #1f1f1f;
}

/* Navbar */

nav {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 9999;
  height: 60px;
  background-color: var(--bg1);
  padding-left: 8%;
  padding-right: 8%;
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid white;
}

.menu input {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1.8px;
  right: -2.9px;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

.menu {
  display: none;
  z-index: 9999;
  position: relative;
  align-self: center;
}

.judul {
  font-family: "Unbounded";
  font-size: 25px;
  color: white;
}

.judul:hover {
  .first-name {
    color: white;
  }

  .last-name {
    color: var(--main-color);
  }
}

.first-name {
  color: var(--main-color);
}

.navbar-list {
  flex: 1;
  text-align: right;
  text-transform: uppercase;
}

.navbar-list ul li {
  position: relative;
  display: inline-block;
  margin-left: 60px;
}

.navbar-list ul li a {
  color: #fff;
  font-size: 15px;
}

.navbar-list a:hover::before,
.link.active::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 7px;
  height: 7px;
  background: var(--main-color);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.navbar-list a::after,
.link.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1.5px;
  background: var(--main-color);
  box-shadow: 3px 3px 10px var(--main-color), -3px -3px 10px white;
  transition: 0.5s;
}

.link.active::after {
  width: 100%;
  height: 1.5px;
}

.navbar-list ul li a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg1);
  padding: 80px 12% 20% 12%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  z-index: 1;
  background-image: url(../img/background/background.png);
  background-position: center;
  background-size: cover;
}

.hero .row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 5;
  /* background-color: #7fff00; */
}

.hero .row .center {
  width: 750px;
  height: 390px;
  border-radius: 70px;
  background-color: bisque;
  border: 3px solid black;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  gap: 10px;
  overflow: hidden;
}

.hero .row .center::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  /* z-index: -1; */
  background-image: url(../img/background/background.png);
  background-position: center;
  background-size: cover;
}

.hero .row .center img {
  border: 3px solid black;
  box-shadow: var(--shadow);
  width: 230px;
  height: auto;
  border-radius: 50px;
}

.hero .row .center .row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.hero .row .center .row1 button {
  border: 3px solid black;
  box-shadow: var(--shadow);
}

.hero .row .center .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 300px;
}

.hero .row .center .row2 i {
  box-shadow: var(--shadow);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--main-color);
  border-radius: 50%;
  transition: 0.5s;
}

.hero .row .center .row2 i:nth-child(even):active {
  transform: translateY(-2px);
}

.hero .row .center .row2 i:nth-child(1):active {
  transform: translateX(-2px);
}

.hero .row .center .row2 i:nth-child(3):active {
  transform: translateX(2px);
}

.hero .row .left-content {
  flex: 1;
  height: 80%;
  padding: 20px;
  border-radius: 0 50px 50px 0;
  background-color: rgba(0, 0, 0, 0.712);
}

.hero .row .right-content {
  flex: 1;
  height: 90%;
  /* background-color: blueviolet; */
  z-index: 3;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.hero .row .left-content h4 {
  font-family: "Open Sans";
  font-size: var(--h4-font);
  font-weight: 100;
}

.hero .row .left-content h1 {
  font-family: "Unbounded";
  color: var(--main-color);
  margin: 25px 0 25px;
  line-height: 1.1;
  cursor: pointer;
  text-shadow: var(--shadow);
}

.hero .row .left-content h1:hover {
  .f-name {
    color: var(--main-color);
  }
  .l-name {
    color: white;
  }
}

.hero .row .left-content h1 .f-name {
  color: white;
}

.hero .row .left-content p {
  font-family: "Open Sans";
  font-size: var(--p-font);
  width: 100%;
  max-width: 100%;
  line-height: 30px;
  margin-bottom: 20px;
}

.hero .medsos i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: black;
  border-radius: 25%;
  margin-right: 20px;
  border: 3px solid black;
  box-shadow: 3px 3px 1px black;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out !important;
}

.hero .medsos i:hover {
  transform: translateY(-4px) !important;
  color: white;
}

.love {
  height: 30px;
  width: 30px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: var(--shadow);
  display: flex;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
}

.love:hover {
  transform: translateY(-4px);
}

.love i {
  margin: auto;
  font-size: 1.5rem;
  color: red;
}

.button-select {
  height: 30px;
  width: 30px;
  height: 30px;
  width: 30px;
  display: flex;
  transition: 0.5s;
  cursor: pointer;
}

.button-select i {
  box-shadow: var(--shadow);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--main-color);
  border-radius: 50%;
  transition: 0.5s;
}

.button-select i:nth-child(even):active {
  transform: translateY(-2px);
}

.button-select i:nth-child(1):active {
  transform: translateX(-2px);
}

.button-select i:nth-child(3):active {
  transform: translateX(2px);
}

.hero .main button {
  padding: 3px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.hero .main button:hover {
  background-color: white;
}

.hero .button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  width: 300px;
  box-shadow: 3px 3px 1px black;
  z-index: 9999;
}

.hero .button h5 {
  margin-left: 5px;
  align-self: center;
  font-size: 1rem;
  color: black;
}

.hero button {
  cursor: pointer;
  margin-right: 5px;
  font-size: 1.1rem;
  border-radius: 10px;
  background-color: #7fff00;
  padding: 5px;
  border: 2.5px solid black;
  transition: 1s;
  z-index: 8;
}

.hero .left-content button:hover {
  transform: translateX(10px) !important;
}

/* .hero .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
  z-index: 2;
} */

/*
.hero .wave1 {
  bottom: -1%;
}

.hero .wave1 {
  animation: animatewave 30s linear infinite;
  z-index: 1000;
  animation-delay: 0s;
  bottom: 0;
}
.hero .wave2 {
  animation: animatewave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.hero .wave3 {
  animation: animatewavez 30s linear infinite;
  z-index: 998;
  opacity: 0.5;
  animation-delay: -2s;
  bottom: 15;
}
.hero .wave4 {
  animation: animatewave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
} */

.hero .wave1 {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: -1%;
}

@keyframes animatewave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animatewave2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

/* About */
.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg2);
  padding: 85px 12% 15% 12%;
  overflow: hidden;
}

.about-content {
  display: flex;
  justify-content: space-around;
}

.about h2 {
  font-family: "Unbounded";
  font-size: var(--h2-font);
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.about h2::before,
.skils h2::before,
.main-text h2::before,
.bottom-line::before,
.tag-line::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--main-color);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.about h2::after,
.skils h2::after,
.main-text h2::after,
.bottom-line::after,
.tag-line::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-color);
  box-shadow: 3px 3px 10px var(--main-color), -3px -3px 10px white;
}

.about h2::before {
  bottom: -12px;
}

.about h2::after {
  bottom: -8px;
  width: 200px;
  height: 2px;
}

.about-text p {
  width: 400px;
  margin-bottom: 20px;
  text-align: justify;
}

.exp-area p {
  color: var(--main-color);
  font-weight: 500;
  font-family: "Open Sans";
  font-size: var(--p-font);
  line-height: 45px;
}

.exp-area p:nth-child(odd) {
  background-color: #0d0928;
  border-radius: 50px;
  padding: 0 10px 0 10px;
}

.exp-area p:nth-child(even) {
  background-color: #171046;
  border-radius: 50px;
  padding: 0 10px 0 10px;
  position: relative;
}

.exp-area span {
  color: white;
}

.interest {
  margin-top: 30px;
}

.interest i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  margin-bottom: 15px;
  color: #0d0928;
  background-color: var(--main-color);
  backdrop-filter: brightness(88%);
  font-size: 20px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  clip-path: polygon(0% 15%, 18% 18%, 15% 0%, 85% 0%, 82% 18%, 100% 15%, 100% 85%, 82% 82%, 85% 100%, 15% 100%, 18% 82%, 0% 85%);
  box-shadow: 3px 3px 1px black;
}

.interest i:hover {
  transform: scale(1.1) rotate(360deg);
  box-shadow: 0 0 15px white;
  color: red;
}

.about svg {
  position: absolute;
  bottom: -1%;
  left: 0;
}

/* Skils */
.skils {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg1);
  padding: 10px 12% 0 12%;
  position: relative;
  overflow: hidden;
  padding-bottom: 33rem;
}

.skils h2 {
  font-family: "Unbounded";
  font-size: var(--h2-font);
  text-align: center;
  position: relative;
  letter-spacing: 2px;
}

.skils h2::before {
  bottom: -11px;
}

.skils h2::after {
  bottom: -8px;
  width: 130px;
  height: 3px;
}

.skils-content {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 350px;
  height: 450px;
  padding: 40px 30px;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--main-color);
}

.container * {
  font-weight: 2px;
}

.container h2 {
  margin-bottom: 40px;
}

.skils h2 span {
  color: var(--main-color);
}

.softskils,
.hardskils {
  height: 200px;
  margin-top: 100px;
}

.softskils h2::before,
.hardskils h2::before {
  bottom: -12px;
}

.softskils h2::after,
.hardskils h2::after {
  width: 190px;
  bottom: -8px;
  height: 2.7px;
}

.hardskils .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.hardskils .logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
}

.hardskils .logo-box i {
  color: #80ff00;
}

.skil:not(:last-child) {
  margin-bottom: 30px;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  background-color: rgba(255, 255, 255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar div {
  position: relative;
  width: 0;
  height: 5px;
  border-radius: 10px;
  background-color: #badefc;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 5px rgba(28, 151, 252, 0.6);
}

#com-bar {
  width: 70%;
}

#cre-bar {
  width: 85%;
}

#tw-bar,
#ps-bar {
  width: 80%;
}

.logo i {
  font-size: 30px;
}

.percen {
  font-family: "Open Sans";
  color: var(--main-color);
  font-weight: 600;
  text-shadow: 0 0 4px var(--main-color), 0 0 1px white;
}

.panah {
  border-radius: 50%;
  background-color: var(--main-color);
  height: 100px;
  width: 100px;
  clip-path: polygon(0 30%, 60% 30%, 60% 15%, 100% 50%, 60% 85%, 60% 70%, 0 90%);
}

.panahhh1 {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.panahhh2 {
  position: absolute;
  top: 520px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 4;
  display: flex;
  justify-content: center;
}

.panah-content1 {
  filter: drop-shadow(3px 3px 3px black);
}

.panah-content2 {
  filter: drop-shadow(5px 5px 3px black);
}

.panah.kanan,
.panah.kiri {
  opacity: 0.9;
}

.panah.kanan2,
.panah.kiri2 {
  position: absolute;
  background-color: var(--bg1);
  height: 70px;
  top: 15%;
  left: 48%;
  width: 70px;
}

.panah.kiri {
  transform: rotate(180deg);
}

.panah.kiri2 {
  left: 47%;
  transform: rotate(180deg);
}

.skils svg {
  position: absolute;
  bottom: -1%;
  left: 0;
}

/* Portfolio */
.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  padding-top: 70px;
  padding-bottom: 12rem;
}

.m-text {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: var(--bg1);
  width: 40%;
  min-height: 40px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.main-text2 {
  width: 50%;
  margin-top: 100px;
}

.m-text h2 {
  color: white;
  font-family: "Unbounded";
  font-size: var(--h2-font);
  text-align: center;
  position: relative;
  text-shadow: var(--shadow);
}

.m-text h2 span {
  color: var(--main-color);
}

.portfolio-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.3rem;
  margin-top: 1.5rem;
  position: relative;
}

.scratch-portfolio,
.php-portfolio {
  margin-top: 20px;
  max-width: 100%;
  min-height: 100px;
}

.scratch-portfolio .content,
.php-portfolio .content {
  display: flex;
  width: 100%;
  height: 500px;
  margin: auto;
  border: 3px solid black;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
}

.scratch-portfolio .content .left {
  width: 55%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  /* justify-items: center;
  align-content: center; */
  z-index: 1;
}

.scratch-portfolio .content .left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background-image: url(../img/background/background.png);
  background-position: center;
  background-size: cover;
}

.scratch-portfolio .content .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 45%;
  background-color: #ddd;
  height: 100%;
}

.scratch-portfolio .content .right .text-box {
  width: 300px;
  height: auto;
  background-color: #171046;
  border: 1px solid black;
  box-shadow: var(--shadow);
  padding: 15px;
}

.scratch-portfolio .content .right button {
  padding: 5px 0 5px 0;
  width: 120px;
  font-weight: bold;
  box-shadow: var(--shadow);
  background-color: var(--main-color);
  cursor: pointer;
}

.scratch-portfolio img {
  margin: auto;
  max-width: 400px;
  height: auto;
  border: 3px solid black;
  cursor: pointer;
}

.php-portfolio img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  box-shadow: var(--shadow);
}

/* Fading animation */
.scratch-portfolio .fade,
.php-portfolio .fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.portfolio-web .row img {
  height: auto;
  width: 100%;
  border-bottom: 3px solid black;
  cursor: pointer;
}

.certificate img {
  height: auto;
  width: 100%;
  border: 3px solid black;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
  color: black;
}

.portfolio-web .row {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid black;
  box-shadow: var(--shadow);
  transition: all 0.5s ease;
  color: black;
}

.portfolio-content .row .main-row {
  height: 200px;
  padding: 10px;
  text-align: justify;
  position: relative;
  z-index: 1;
}

.portfolio-content .row .main-row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: -1;
  background-image: url(../img/background/background.png);
  background-position: center;
  background-size: cover;
}

.main-row p {
  width: 350px;
  font-family: "Open Sans";
  font-weight: 700;
}

.portfolio-web .row .main-row button {
  height: 40px;
  width: 100px;
  background-color: #7fff00;
  margin-top: 10px;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: 0.5s;
  cursor: pointer;
}

.portfolio-content .row .main-row button:hover {
  background-color: white;
  color: black;
}

.portfolio-content .row .main-row .top-row {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.github {
  height: 40px;
  width: 40px;
  border: 2.5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 2px 2px 1px black;
  transition: 0.5s;
}

.github:hover {
  background-color: white;
}

.top-row i {
  font-size: 2.2rem;
  color: black;
}

.bottom-line::before {
  bottom: -12px;
}

.bottom-line::after {
  bottom: -9px;
}

.portfolio svg {
  position: absolute;
  bottom: -0.5%;
  left: 0;
}

/* Contact */
.contact {
  width: 100%;
  height: 130vh;
  background-color: var(--bg1);
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  padding-top: 85px;
  overflow: hidden;
}

.c-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 450px;
  border-radius: 30px;
  background-color: transparent;
  display: flex;
  margin-top: -5px;
}

.c-content .left {
  width: 40%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  background-color: #171046;
  padding: 50px;
  overflow: hidden;
  font-family: "Open Sans";
}

.c-content .right {
  width: 60%;
  height: 100%;
  border-radius: 0 30px 30px 0;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  border: 3px solid var(--main-color);
  padding: 50px;
  font-family: "Open Sans";
  z-index: 2;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input .group {
  width: 40%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
}

textarea::-webkit-input-placeholder {
  color: var(--main-color);
}

label {
  margin-bottom: 6px;
  display: block;
  color: white;
}

.c-content .right button {
  background-color: #0d0928;
  width: 80px;
  color: white;
  height: 35px;
  border-radius: 5px;
  margin-top: 70px;
  border: 2px solid #171046;
  cursor: pointer;
  transition: 0.5s !important;
}

.c-content .right button:hover {
  color: var(--main-color);
}

.tag-line {
  font-family: "Unbounded";
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.contact span {
  color: var(--main-color);
}

.tag-line::before {
  bottom: -11.5px;
}

.tag-line::after {
  bottom: -8px;
  width: 180px;
  height: 2.5px;
}

.contact .list {
  margin-top: 40px;
}

.contact .list ul li {
  margin-bottom: 50px;
}

.contact .list i {
  color: var(--main-color);
}

.circle {
  position: relative;
  border-radius: 50%;
  background: linear-gradient(135deg, var(--main-color), #4169a1);
}

.circle-1 {
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
}

.circle-2 {
  top: -265px;
  left: 160px;
  width: 100px;
  height: 100px;
}

.circle-3 {
  top: -420px;
  left: 200px;
  width: 50px;
  height: 50px;
}

/* Footer */
footer {
  width: 100%;
  /* display: none; */
  min-height: 50vh;
  background-color: var(--bg2);
  padding: 30px 2% 5px 2%;
  position: relative;
  padding-top: 30px;
}

footer .top {
  display: flex;
  justify-content: space-between;
}

footer .medsos i {
  width: 30px;
  height: 30px;
  color: white;
}

footer .my-contact li {
  display: inline;
}

footer .brand {
  font-family: "Unbounded";
  font-size: var(--h2-font);
  margin-right: 43px;
}

footer .brand .judul .first-name {
  color: white;
}

footer hr {
  margin-top: 25px;
  color: #0d0928;
  height: 5px;
}

footer .bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
}

footer .footer-list li {
  display: inline;
}

footer .footer-list {
  margin-left: 20px;
}

.footer-list a {
  color: #ddd;
  text-transform: uppercase;
  margin-right: 20px;
}

footer .text {
  margin-top: 80px;
  color: #ddd;
  display: flex;
  justify-content: center;
}

/* Responsive */
@media screen and (max-width: 992px) {
  nav .navbar-list {
    width: 50%;
  }

  .navbar-list ul li {
    margin-left: 30px;
  }

  .main-content h1 {
    font-size: 2rem;
  }

  /* Hero */
  .button-select {
    display: none;
  }

  /* Skils */
  .skils {
    padding-left: 2%;
    padding-right: 2%;
  }

  .skils-content {
    gap: 20px;
    display: flex;
    justify-content: center;
  }

  .panah.kanan,
  .panah.kiri,
  .panah.kanan2,
  .panah.kiri2 {
    display: none;
  }

  /* Portfolio */

  .portfolio-content .row .main-row {
    height: 230px;
  }

  .portfolio .main-row p {
    width: 85%;
  }

  .portfolio .main-text {
    width: 200px;
  }
}

@media screen and (max-width: 834px) {
  /* skils */
  .softskils .container,
  .hardskils .container {
    width: 330px;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .navbar-list ul li {
    margin-left: 5px;
  }

  /* Hero */

  /* About */
  .about {
    height: 170vh;
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-content {
    flex-direction: column;
  }

  .about-text p {
    width: 500px;
    margin-bottom: 20px;
    margin: auto;
    font-size: var(--p-font);
  }

  .exp-area {
    margin: auto;
    width: 500px;
    height: 500px;
    padding-top: 20px;
  }

  .exp-area p {
    justify-self: center;
    width: 500px;
    margin-bottom: 20px;
    font-size: var(--p-font);
  }

  .about-int {
    margin-top: -100px;
  }

  .interest {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .interest i {
    width: 90px;
    height: 90px;
  }

  /* Skils */
  .skils {
    height: 220vh;
  }

  .skils .skils-content {
    flex-direction: column;
    gap: 200px;
    margin: auto;
    margin-top: 25px;
  }

  .softskils .container,
  .hardskils .container {
    width: 520px;
    margin: auto;
  }

  /* Portfolio */

  .portfolio .portfolio-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio .main-row p {
    width: 90%;
  }

  .portfolio-content .row .main-row {
    height: 190px;
  }

  .scratch-portfolio .content .left {
    width: 55%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* justify-items: center;
    align-content: center; */
    z-index: 1;
  }

  .scratch-portfolio .content {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    align-content: center;
  }

  .scratch-portfolio .content .left {
    width: 100%;
  }

  .scratch-portfolio .content .right {
    gap: 0;
    width: 100%;
    height: auto;
  }

  .scratch-portfolio .content .right .text-box {
    height: auto;
  }

  .portfolio svg {
    bottom: 0;
  }

  /* Contact */
  .c-content .left,
  .c-content .right {
    padding: 15px;
  }

  .contact .right .input {
    flex-direction: column;
    gap: 20px;
  }

  .input .group {
    width: 100%;
  }

  .right button {
    margin-top: 10px;
  }
}

@media screen and (max-width: 721px) {
  /* Nav */
  nav .navbar-brand a {
    font-size: 1.3rem;
  }

  /* Hero */
  .hero {
    height: 140vh;
  }
  .hero .wave1 {
    display: none;
  }

  .hero .row {
    height: 750px;
  }

  .hero .row .center {
    flex-direction: column-reverse;
    height: 100%;
  }

  .hero .row .center .left-content {
    width: 80%;
    border-radius: 40px 40px 0 0;
    text-align: center;
    align-content: center;
  }

  .hero .row .center .left-content .medsos i {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .hero .row .center .left-content .button {
    margin: auto;
  }

  .hero .row .center .left-content .button {
    width: 200px;
  }

  /* About */
  .interest i {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 576px) {
  /* Nav */
  nav ul {
    display: flex;
    position: absolute;
    background-color: var(--bg2);
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: space-evenly;
    z-index: 9999;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  /* Hero */
  .menu {
    display: flex;
  }

  /* About */
  .about {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-text p,
  .exp-area,
  .exp-area p {
    width: 400px;
  }

  .exp-area {
    height: 400px;
  }

  .about-int {
    margin-top: 20px;
  }

  .interest i {
    width: 60px;
    height: 60px;
  }

  /* Skils */
  .skils {
    height: 210vh;
  }

  .softskils .container,
  .hardskils .container {
    width: 380px;
    margin: auto;
  }

  /* Portfolio */

  .portfolio {
    height: 1650vh;
  }

  .portfolio-content .row .main-row {
    height: 200px;
  }

  .portfolio-content .row .main-row p {
    width: 88%;
  }

  .scratch-portfolio img {
    margin: auto;
    max-width: 300px;
    height: auto;
    border: 3px solid black;
    cursor: pointer;
  }

  /* Contact */
  .c-content {
    flex-direction: column;
  }

  .c-content .left,
  .c-content .right {
    padding: 25px;
  }

  .contact .left {
    display: none;
  }

  .contact .right {
    height: 600px;
    width: 100%;
    border-radius: 20px;
  }

  /* footer */
  footer {
    height: 40vh;
  }

  footer .top {
    justify-content: center;
  }

  footer .brand h2 {
    font-size: 1.2rem;
  }

  footer .footer-list li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer .bottom .footer-list {
    margin-top: -60px;
  }

  footer .text {
    margin-top: 25px;
  }

  footer .brand {
    margin-right: 0;
  }

  footer .medsos,
  footer .my-contact {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  /* Hero */

  /* About */
  .about-text p,
  .exp-area,
  .exp-area p {
    width: 300px;
  }

  .exp-area {
    height: 300px;
  }

  .exp-area p {
    font-size: 1rem;
  }

  .about-int {
    margin-top: 100px;
  }

  .interest i {
    width: 50px;
    height: 50px;
  }

  /* Skils */
  .skils .skils-content {
    width: 300px;
    gap: 60px;
  }

  .softskils .container,
  .hardskils .container {
    width: 300px;
    margin: auto;
  }

  .hardskils h2::after {
    width: 175px;
  }

  /* Portfolio */
  .portfolio-content .row .main-row {
    height: 240px;
  }

  .portfolio-content .row .main-row p {
    width: 100%;
  }
}
